* {
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--brand-primary) transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;

  font-family: system-ui;

  min-block-size: 100vh;
  line-height: 1.4;
}
